.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  trainsition-timing-function: ease-in;
  transition: all 0.7s;
}

.nav-black {
  background-color: #111;
}

.nav-logo {
  position: fixed;
  left: 40px;
  width: 80px;
  height: 80px;
  object-fit: contain;
  cursor: pointer;
}

.nav-avatar {
  position: fixed;
  right: 40px;
  width: 40px;
  height: 80px;
  object-fit: contain;
  cursor: pointer;
}